---
plugin: amazon.aws.aws_ec2

# AWS region to query
regions:
  - us-west-2

# Filter instances by tag
filters:
  tag:Name: atlantis-server
  instance-state-name: running

# How to connect
compose:
  # Use instance ID for SSM connection
  ansible_aws_ssm_instance_id: instance_id
  ansible_connection: aws_ssm
  ansible_aws_ssm_region: us-west-2
  ansible_aws_ssm_bucket_name: atlantis-deployment-ssm
# Group instances
keyed_groups:
  # Group by tag Name
  - key: tags.Name
    prefix: tag_Name
    separator: _
  # Group by instance state
  - key: instance_state_name
    prefix: state

# Set hostnames (use tag Name or instance ID)
hostnames:
  - tag:Name
  - instance-id
